@model List<PositionGetVM>

<div class="d-flex flex-column w-100 m-4">
    <a asp-action="Create" class="btn btn-warning">Add new Position</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>
                    <th scope="row">@position.Id</th>
                    <td>@position.Name</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@position.Id" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@position.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>